@model IEnumerable<PurpleIK.UI.Areas.CompanyManager.Models.VM.ExpenseVM.ExpenseIndexVM>

@{
    ViewData["Title"] = "Index";
}

@{
    // TempData'den SuccessMessage veya ErrorMessage anahtarlarını al
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div id="successAlert" class="alert alert-success" role="alert">
        @successMessage
    </div>
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div id="errorAlert" class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 style="font-weight: bold; color: #9a55ff ;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;font-size: 28px;position: center;" class="card-title" align="center">Harcamalar Tablosu</h4>
            <hr />
            <div class="row">
                <div class="col-sm-2">
                    <button class="btn btn-gradient-primary filter-button" data-status="all">Tümü</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-gradient-success filter-button" data-status="active">Onaylanan</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-gradient-danger filter-button" data-status="deactive">Red Edilen</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-gradient-warning filter-button" data-status="pending">Onay Bekleyen</button>
                </div>
                <div class="col-sm-4">
                    <p class="card-description" align="right">
                        <a asp-action="Add" class="btn btn-gradient-primary btn-icon-text"><i class="mdi mdi-file-check btn-icon-prepend"></i>Harcama Ekle</a>
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Durum</th>
                                <th>Çalışan Resmi</th>
                                <th>Çalışan</th>
                                <th>Harcama Adı</th>
                                <th>Açıklama</th>
                                <th>Harcama Tutarı</th>
                                <th>Harcamanın Yapıldığı Tarih</th>
                                <th>Ekleme Tarihi</th>
                                <th>Harcama Formu</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="permission-row @(item.Status == "Active" ? "active-permission" : (item.Status == "DeActive" ? "deactive-permission" : "pending-permission"))">
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            @if (item.Status == "Active")
                                            {
                                                <label class="badge badge-gradient-success" style="width: 15px;"> </label>

                                            }
                                            else if (item.Status == "DeActive")
                                            {
                                                <label class="badge badge-gradient-danger" style="width: 15px;"> </label>
                                            }
                                            else
                                            {
                                                <label class="badge badge-gradient-warning" style="width: 15px;"> </label>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-account"></i>
                                        </a>
                                        <div id="photoDropdown" class="dropdown-menu dropdown-menu-left navbar-dropdown preview-list" aria-labelledby="messageDropdown" style="width: 200px; height: 200px;">
                                            <style>
                                                #photoDropdown.dropdown-menu-left {
                                                    left: auto;
                                                    right: 0;
                                                }

                                                .img-thumbnail {
                                                    max-width: 100%; /* Resmi 100% genişliğe kadar sığdır */
                                                    max-height: 100%; /* Resmi 100% yüksekliğe kadar sığdır */
                                                }

                                                .preview-item-content img {
                                                    width: auto; /* Otomatik genişlik */
                                                    height: auto; /* Otomatik yükseklik */
                                                    max-width: 100%; /* Resmi 100% genişliğe kadar sığdır */
                                                    max-height: 100%; /* Resmi 100% yüksekliğe kadar sığdır */
                                                }
                                            </style>
                                            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center photo">
                                                @if (!string.IsNullOrEmpty(item.Picture))
                                                {
                                                    <img src="@item.Picture" class="img-thumbnail" alt="Profile Photos" style="width: 100%;height : 100%;" />
                                                }
                                            </div>
                                        </div>
                                    </td>
                                    <td>@item.Employee</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ExpenseDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <form asp-action="GetDocument" method="get">
                                                <input type="hidden" name="id" value="@item.Id" />
                                                <input type="hidden" name="layoutName" value="Index" />
                                                <button type="submit" class="btn btn-sm btn-gradient-info btn-icon-text">
                                                    <i class="mdi mdi-file-pdf btn-icon-prepend"></i>Görüntüle
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            @if (item.Status == "Approval")
                                            {
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <form asp-action="ChangeExpenseStatus" asp-route-id="@item.Id" asp-route-newStatus="Active" method="post">
                                                        <button type="submit" class="btn btn-sm btn-gradient-success btn-fw">Onayla</button>
                                                    </form>
                                                </div>  
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <form asp-action="ChangeExpenseStatus" asp-route-id="@item.Id" asp-route-newStatus="DeActive" method="post">
                                                        <button type="submit" class="btn btn-sm btn-gradient-danger btn-fw">RedEt</button>
                                                    </form>
                                                </div>
                                            }
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $(".filter-button").click(function () {
                    var status = $(this).data("status");
                    if (status === "all") {
                        $(".permission-row").show();
                    } else {
                        $(".permission-row").hide();
                        $(".permission-row." + status + "-permission").show();
                    }
                });
            });
        </script>
        <script>
            // Remove success message after 5 seconds
            setTimeout(function () {
                $('#successAlert').fadeOut('slow');
            }, 3000);

            // Remove error message after 5 seconds
            setTimeout(function () {
                $('#errorAlert').fadeOut('slow');
            }, 3000);
        </script>
    }
