@using PurpleIK.Core.Enums
@using PurpleIK.UI.Areas.Employee.Models.VM.ExpenseEmployeeVM

@model ExpenseEmployeeIndexVM

@{
    ViewData["Title"] = "ExpenseEmployeeList";
}
@{
    // TempData'den SuccessMessage veya ErrorMessage anahtarlarını al
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div id="successAlert" class="alert alert-success" role="alert">
        @successMessage
    </div>
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div id="errorAlert" class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 style="font-weight: bold; color: #9a55ff ;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;font-size: 28px;position: center;" class="card-title" align="center">Harcamalarım Tablosu</h4>
            <hr />
            <div class="row">
                <div class="col-sm-2">
                    <button class="btn btn-fw btn-gradient-primary filter-button" data-status="all">Tümü</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-fw btn-gradient-success filter-button" data-status="active">Onaylanan</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-fw btn-gradient-danger filter-button" data-status="deactive">Reddedilen</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-fw btn-gradient-warning filter-button" data-status="pending">Onay Bekleyen</button>
                </div>
            </div>
            <p class="card-description" align="right">
                <a asp-action="Add" class="btn btn-gradient-primary btn-icon-text"><i class="mdi mdi-file-check btn-icon-prepend"></i>Harcama Ekle</a>
            </p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Durum</th>
                        <th>Harcama Adı</th>
                        <th>Açıklama</th>
                        <th>Harcama Tarihi</th>
                        <th>Harcama Tutarı</th>
                        <th>Harcama Formu</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var expense in Model.ExpenseEmployeeItems)
                    {
                        <tr>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    @if (expense.Status == "Active")
                                    {
                                        <label class="badge badge-gradient-success" style="width: 15px;"> </label>
                                    }
                                    else if (expense.Status == "DeActive")
                                    {
                                        <label class="badge badge-gradient-danger" style="width: 15px;"> </label>
                                    }
                                    else
                                    {
                                        <label class="badge badge-gradient-warning" style="width: 15px;"> </label>
                                    }
                                </div>
                            </td>
                            <td>@expense.Name</td>
                            <td>@expense.Description</td>
                            <td>@expense.ExpenseDate</td>
                            <td>@expense.Price</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <form asp-action="GetDocument" method="get">
                                        <input type="hidden" name="id" value="@expense.Id" />
                                        <input type="hidden" name="layoutName" value="ExpenseEmployeeList" />
                                        <button type="submit" class="btn btn-sm btn-gradient-info btn-icon-text">
                                            <i class="mdi mdi-file-pdf btn-icon-prepend"></i>Görüntüle
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts { 
    <script>
        // Remove success message after 5 seconds
        setTimeout(function () {
            $('#successAlert').fadeOut('slow');
        }, 3000);

        // Remove error message after 5 seconds
        setTimeout(function () {
            $('#errorAlert').fadeOut('slow');
        }, 3000);
    </script>
    }
